body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* CLOUDS - #ecf0f1 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #282f31;
}

html {
    color: #fff;
    font-family: 'Ubuntu', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* FONTS */

/* @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
         url('../../vendors/fonts/Ubuntu-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
         url('../../vendors/fonts/Ubuntu-Regular.ttf') format('truetype');
} */


.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ---------------- */
/* REUSABLE COMPONENTS */
/* ---------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}