/* ---------------- */
/* TABS */
/* ---------------- */

.tabs ul {
    font-family: 'Ubuntu';
    list-style-type: none;
    font-weight: 300;
    font-size: 95%;
    padding-bottom: 0;
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

.tabs ul li {
    background: #282f31;
    float: left;
    padding: 2% 3%;
    border-right: 1px solid #fff;
    cursor: pointer;
    transition: background 0.2s;
}

.tabs li a {
    display: block;
} 

.tabs ul li:first-child {
    background: #ecf0f1;
    color: rgb(59, 59, 59);
}